%section.one
  %h1 Sign in
  %div
    = form_tag sessions_path do
      .user-input
        = text_field_tag :email
        = label_tag :password, "Password"
      .user-input
        = password_field_tag :password
        = submit_tag "Log in"