%h2.title Your Projects
- if @user.projects.empty?
  %p
    %i You have not created any projects yet.
    = link_to "Click here to get started!", new_project_path
-else
  - @user.projects.each do |project|
    .cards
      .card
        .card-image
          = image_tag project.picture.url
        .card-header
          = link_to project.title, project_path(project)
        .card-copy
          %strong Description:
          = project.description.truncate(160, omission: '... (continued)')
        .card-stats
          %ul
            %li
              $#{project.goal}
              %span Goal
            %li
              $#{project.collected_money}
              %span $ Raised
            %li
              - if project.has_ended?
                #{pretty_time(project.end_time)}
                %span Project End Date
              - else
                %strong Time Remaining:
                = time_left_or_passed(project.end_time)
                %span Time Left
%section.zero
%h2.title Your Pledges
- if @user.pledges.empty?
  %p
    %i You have not pledged to any projects yet.
    = link_to "Find a project that interests you!", root_path

- else
  - @user.pledges.each do |pledge|
    .cards
      .card
        .card-header
          %h3 $#{pledge.amount} pledge
          %p
            %strong
            = link_to pledge.project.title, project_path(pledge.project)
        .card-stats
          %ul
            %li
              $#{ pledge.project.goal}
              %span Goal
            %li
              $#{pledge.project.collected_money}
              %span $ Raised
            %li
              - if pledge.project.has_ended?
                #{time_left_or_passed(pledge.project.end_time)}
                %span Project End Date
              -else
                = time_left_or_passed(pledge.project.end_time)
                %span Time Left
