%h2 Your Projects
- if @user.projects.empty?
  %p
    %i You have not created any projects yet.
    = link_to "Click here to get started!", new_project_path

- else
  .user-project
    - @user.projects.each do |project|
      %h3= link_to project.title, project_path(project)
      %p Goal: #{project.goal}
      %p Money Collected: #{project.collected_money}
      - if project.has_ended?

        %p #{pretty_time(project.end_time)}
      -else
        %p
          %strong Time Remaining:
          = time_left_or_passed(project.end_time)
        %p
          %strong %Description:
          = project.description
%h2 Your Pledges
- if @user.pledges.empty?
  %p
    %i You have not created pledges yet.
    = link_to "Find a project that interests you!", root_path

- else
  .user-pledge
    - @user.projects.each do |project|
      %h3= link_to project.title, project_path(project)
      %p Goal: #{project.goal}
      %p Money Collected: #{project.collected_money}
      - if project.has_ended?

        %p #{pretty_time(project.end_time)}
      -else
        %p
          %strong Time Remaining:
          = time_left_or_passed(project.end_time)
        %p
          %strong %Description:
          = project.description
