%h2 #{@user.first_name}'s Projects
- if @user.projects.empty?
  %p
    %i #{@user.first_name} does not appear to have any projects at the moment...
-else
  .user-project
    - @user.projects.each do |project|
      %h3= link_to project.title, project_path(project)
      %p Goal: #{project.goal}
      %p Money Collected: #{project.collected_money}
      - if project.has_ended

        %p #{pretty_time(@project.end_time)}
      -else
        %p
          %strong Time Remaining:
          = project.time_left
      %p
        %strong Description:
        = project.description

