= image_tag gravatarify_url(@user)
%h1
  = @user.first_name
  = @user.last_name
= link_to "Account Settings", edit_user_path
%ul
  %li
    %strong Member since:
    =pretty_time(@user.created_at)
  %li
    %strong Total Projects:
    =@user.projects.count
  %li
    %strong Total Pledges:
    = @user.pledges.count

// Alessia's code below

.side-image
  .images-wrapper
  .content
    %h4
      = @user.email
    %h1
      = @user.first_name
      = @user.last_name
    %p
      = render 'user_projects'
    %button Read more

.cards
  .card
    .card-image
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
    .card-header
      First Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          98
          %span Items
        %li
          298
          %span Things
        %li
          923
          %span Objects
  .card
    .ribbon-wrapper
      .ribbon RIBBON
    .card-image
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
    .card-header
      Another Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          98
          %span Items
        %li
          298
          %span Things
        %li
          923
          %span Objects
  .card
    .card-image
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}/
    .card-header
      The Last Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          98
          %span Items
        %li
          298
          %span Things
        %li
          923
          %span Objects
