%section.zero
  .side-image
    .images-wrapper
    .content
      %h4
        = @user.email
      %h1
        = @user.first_name
        = @user.last_name
        = image_tag gravatarify_url(@user)
      %p
        = link_to "Account Settings", edit_user_path
        %ul
        %li
          %strong Member since:
          =pretty_time(@user.created_at)
        %li
          %strong Total Projects:
          =@user.projects.count
        %li
          %strong Total Pledges:
          = @user.pledges.count
      / %button Read more

%section.zero
  = render 'user_projects'