%section.zero
	.side-image
		.images-wrapper
		.content
			%h1= @project.title
			= image_tag @project.picture.url
.progress-bar-indication
	%span.meter{style:"width: #{@project.percent_funded}%"}
		%p #{@project.percent_funded}%

%section.zero
	%h3
		Project created by
		= link_to(@project.owner_full_name, @project.owner)
	%p
		%b Project category:
		= link_to(@project.category_name, @project.category)
	%p
		%b Tags:
		- @project.tags.each do |tag|
			= tag.name
	%p Project start date: #{pretty_time(@project.start_time)}
	%p Project end date: #{pretty_time(@project.end_time)}
	%p
		Status:
		%b= time_left_or_passed(@project.end_time)
	%p
		%b Description:
		%br
		= @project.description

	- if @project.was_funded?
		%b Project succeeded in raising required funding!
	- elsif @project.has_ended?
		%b Project failed to raise required funding!

	%p
		%b Goal:
		$#{@project.goal}
	%p
		%b Collected money:
		%span#collected-money $#{@project.collected_money}
	%div
		%b Rewards:
		- @project.sorted_rewards.each do |reward|
			%p
				= reward.description
				%b for $#{reward.cost}
				(
				%span{id: "reward-#{reward.id}-backers"}= reward.backers_amount
				backers)
				- if current_user
					%b= button_to 'Pledge', pledges_path(reward_id: reward), method: :post, form_class: 'create-pledge'

%section.zero
	%h2 Comments
	- if current_user
		= form_for [@project, @project.comments.new] do |f|
			%p
				= f.label :text, "Leave comment:"
				= f.text_area :text
			%p
				= f.submit
	- else
		%p Log In to leave a comment

%section.zero#comments
	= render @comments

%section.zero
	= link_to "Load more comments", project_path(@project, c: (@page+1)), data: {c: @page}, class: "mega-button", id: "load-comments"
