%section.zero
	.side-image
		.images-wrapper
		.content
			%h1= @project.title
			= image_tag @project.picture.url

%section.zero
	%h3
		Project created by
		= link_to(@project.owner_full_name, @project.owner)
	%p
		%b Project category:
		= link_to(@project.category_name, @project.category)
	%p
		%b Tags:
		- @project.tags.each do |tag|
			= tag.name
	%p Project start date: #{pretty_time(@project.start_time)}
	%p Project end date: #{pretty_time(@project.end_time)}
	%p
		Status:
		%b= time_left_or_passed(@project.end_time)
	%p
		%b Description:
		%br
		= @project.description

	- if @project.was_funded?
		%b Project Succeeded
	- elsif @project.has_ended?
		%b Project Failed

	%p
		%b Goal:
		$#{@project.goal}
	%p
		%b Collected money:
		$#{@project.collected_money}

	%p
		%b Total Backers:
		= @project.total_people

	%div
		%b Rewards:
		- @project.sorted_rewards.each do |reward|
			%p
				= reward.description
				%b for $#{reward.cost}
				(#{reward.backers_amount} backers)

%section.zero#comments
	%h2 Comments
	= render @project.comments

%section.zero
	- if current_user
		= form_for [@project, @project.comments.new] do |f|
			%p
				= f.label :text, "Leave comment:"
				= f.text_area :text
			%p
				= f.submit
	- else
		%p Log In to leave a comment
