/ <<<<<<< HEAD
%section.zero

  - options = render @categories
  = select_tag("category", options.html_safe, :prompt => "Please select a Category")

  - @top_projects.each do |project|
    %p= link_to project.title, project
    %p= image_tag project.picture.url(:thumb)
    %p Project goal: $#{project.goal}
    %p Status: #{time_left_or_passed(project.end_time)}
/ =======
/ %section.categoriesshow
/   %h1 Top 6 Projects
/   %select#category= render @categories
/   - @top_projects.each do |project|
/     .cards.pro
/       .card
/         .card-image
/           = image_tag project.picture.url
/         .card-header
/           = link_to(project.title, project)
/         .card-stats
/           %ul
/             %li
/               #{project.goal}
/               %span Goal
/             %li
/               = time_left_or_passed(project.end_time)
/               %span Status
/ >>>>>>> 66c8c64eb7ae4da9f78df82753cf8fa6d53fac4a
