%section.zero
  / %select#category

  - options = render @categories
  = select_tag("category", options.html_safe, :prompt => "Please select a Category")

  - @top_projects.each do |project|
    %p= link_to project.title, project
    %p= image_tag project.picture.url(:thumb)
    %p Project goal: $#{project.goal}
    %p Status: #{time_left_or_passed(project.end_time)}
  - array = []  
  - @categories.each do |category|
    = array.push(category.total_money)
    / = (array-1).inject(:+)