%section.categoriesshow
	%h1.title= @category.name
	%p
		Total Projects:
		%b= @category.projects.count
	%p
		Projects successfully raised required amount:
		%b= @category.projects.funded.count
		%p
			Projects passed end date:
			%b= @category.projects.ended.count
		%p
			Total money raised for this category:
			%b= @category.total_money

		#projects
			= render(:partial => "project", :collection => @projects)
	= paginate @projects
	%br
