



- @category.projects.each do |project|
	%p= project.title
	%p= project.description
	%p= project.goal
	%p= project.start_time
	%p= project.end_time
	=image_tag("http://www.htxt.co.za/wp-content/uploads/2013/10/gumstick.jpg")


